body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    margin-top: 80px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}